{% extends 'main.html' %}
{% block content %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container ">
      <a class="navbar-brand"href="#"><b style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size:33px;"><i class="bi bi-headset"></i>BoomBox</b></a>
      <!-- <div ><input type="search" placeholder="search products" style="margin-left:210px;width:300px;height:40px;border-color: rgb(249 241 241);border-radius:4px;"></div> -->
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> -->
        <!-- <span class="navbar-toggler-icon"></span> -->
      </button>
       
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
          {% comment %} <a class="nav-link active" href="/products">Products</a>
          <a class="nav-link active" href="/view_cart">Cart</a>
          <a class="nav-link active" href="/myprofile">Myprofile</a>
          <a class="nav-link active" href="/signout/">Logout</a> {% endcomment %}
          <a class="nav-link active" aria-current="page" href="/">Myprofile</a>
          <a class="nav-link active" href="/cart">Cart</a>
          <a class="nav-link active" aria-current="page" href="/user_logout">Logout</a>

          
          
        </div>
      </div>
    </div>
  </nav>
  
  <!-- welcome>>{{user.username}} -->

  <div class="container" style="margin-top:100px">
    <div class="row">
  {% for i in data %}
                    <div class="col-md-3">
                        <div class="card text-center border-2  " style="height:340px;margin-top:20px;">
                            <div class="card-body">
                  
                                <img width=160px; height=170px; src="images/{{i.image1}}">
                                </a>
                                <h1 style="font-size:20px;">{{i.product_name}}</h1><br>
                               
                                <p class="card-text">
                                   
                                    
                                </p>
                                <h4 class="price" style="margin-top:-40px;font-size:20px;color:gray;">₹{{i.price}}</h4>
                                
                                
                                    
                            
                                <button class="btn btn-primary"><a href="/product_details/{{i.id}}"><b style="color:white;">View More</b></a></button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

</div>





        

{% endblock %}
